* {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#fbab7e, rgba(218, 149, 47, 0.733));
  font-family: "Protest Revolution", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: blanchedalmond;
}
.heading-color {
  color: brown;
}
/* <---------------------NAVBAR SECTION ------------------------> */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 13px;
}
nav ul li {
  list-style: none;
}
nav ul {
  display: flex;
  gap: 60px;
  align-items: flex-start;
}
nav ul :hover {
  color: black;
}
nav a {
  text-decoration: none;
  color: aliceblue;
}
.btn {
  width: 150px;
  height: 40px;
  border: 2px solid black;
  box-shadow: 2px 2px 5px;
  border-radius: 12px;
  display: flex;
}

/* <-------------------------------HERO SECTION---------------------->  */
.hero {
  height: 80vh;
  display: flex;
  margin-top: 20px;
  padding: 20px;
}
.hero .text-hero,
.hero .image-hero {
  width: 50%;
  height: 100%;
  margin: 20px;
  padding: 20px 20px;
  background: transparent;
}
.image-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.hero .text-hero {
  text-align: center;
}
.hero h1 {
  font-weight: 900;
}
.text-overview {
  height: 60vh;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.overview {
  width: 25%;
  height: 80%;
  padding: 20px;
  margin: 20px;
  border: 2px solid #ca855da1;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px #ca855da1;
  overflow: hidden;
}
/* fold-cta  section */
.fold-cta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  padding: 20px;
  margin: 20px;
  background: transparent;
}
.fold-cta .gallery {
  width: 20%;
  height: 90%;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 2px 5px #29211da1;
  border: 2px solid #ca855da1;
}

.fold-cta img {
  width: 100%;
}
/* footer */
footer {
  height: 40vh;
}
.footer-div {
  height: 80%;
}
.icons-div {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.iconss {
  border: 2px solid whitesmoke;
  padding: 8px;
  border-radius: 50px;
  padding: 8px;
}
.footer-div {
  display: flex;
  padding: 13px;
}
.first-half,
.second-half {
  padding: 30px;
  height: 100%;
  width: 50%;
}
.nav-buttons ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-buttons li {
  padding: 25px;
  list-style: none;
  margin: 25px;
}
.topp {
  width: 100%;
  height: 50%;
  align-items: center;
  padding: 10px;
}
.bottomm {
  display: flex;
  align-items: center;
}
.bottomm .btm-left {
  width: 50%;
  height: 100%;
}
